@page "/counter"
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<EditForm Model="@userForm" OnValidSubmit="@CountWords">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <InputTextArea @bind-Value="@userForm.InsertedText" placeholder="Place your text here..." class="form-control"></InputTextArea>
    </div>
    <button type="submit" class="btn btn-primary">Count</button>
</EditForm>

<div class="container text-center">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <p role="status">Current count: @currentCount</p>
        </div>
    </div>
</div>

@code {
    private UserForm userForm = new();
    private int currentCount = 0;

    private void CountWords() => currentCount = string.IsNullOrWhiteSpace(userForm.InsertedText) ? 0 : Regex.Matches(userForm.InsertedText, @"[\p{L}\p{N}]+").Count;

    public class UserForm
    {
        [Required(ErrorMessage = "Some text input is required.")]
        public string? InsertedText { get; set; }
    }
}
